*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #f5f8ff; */
}

.container{
    margin: 0 4rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container h1{
    color: #fff;
}

.container .tab{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.05);
    border-radius: 5px;
    overflow: hidden;
}

.container .tab input{
    /* display: flex; */
    appearance: none
}

.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.container .tab:hover label::after{
    color: #333;
}

.container .tab input:checked ~ label::after{
    transform: rotate(135deg);
}

.container .tab label h2{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}

.container .tab:nth-child(2) label h2{
  background: linear-gradient(135deg, #70f570, #49c628);
}
.container .tab:nth-child(3) label h2{
  background: linear-gradient(135deg, #FBAB7E, #F7CE68);
}
.container .tab:nth-child(4) label h2{
  background: linear-gradient(135deg, #8BC6EC, #9599E2);
}
.container .tab:nth-child(5) label h2{
  background: linear-gradient(135deg, #FF9A8B, #FF99AC);
}

.container .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}

.container .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.container .tab input:checked ~ .content{
    max-height: 100vh;
}

.container .tab .content p{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}