html {
  font-size: 14px;
}

body {
  background: #f6f9fc;
  font-family: "Open Sans", sans-serif;
  color: #525f7f;
}


.timeline {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 5% auto;
}
.timeline__event {
  /* background: #fff; */
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 8px;
  /* box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 20px;
  margin-left: 2%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.timeline__event__date {
  color: #f6a4ec;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}
.timeline__event__icon {
  border-radius: 8px;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  font-size: 2rem;
  color: #9251ac;
  padding: 20px;
  
  height: 100px;
  box-shadow: 0 30px 60px -12px rgba(42, 42, 98, 0.5), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  position: sticky;
  top: 0%;
}
.timeline__event__icon i {
  position: absolute;
  top: 50%;
  left: -65px;
  font-size: 2.5rem;
  transform: translateY(-50%);
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event:after {
  content: "";
  width: 2px;
  height: 100%;
  background: #9251ac;
  position: absolute;
  top: 52%;
  left: -3.5rem;
  z-index: -1;
}
.timeline__event:before {
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  background: #f6a4ec;
  border-radius: 100%;
  left: -6rem;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #9251ac;
}
.timeline__event--type2:before {
  background: #87bbfe;
  border-color: #555ac0;
}
.timeline__event--type2:after {
  background: #555ac0;
}
.timeline__event--type2 .timeline__event__date {
  color: #87bbfe;
}
.timeline__event--type2 .timeline__event__icon {
  background: #555ac0;
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type3:before {
  background: #aff1b6;
  border-color: #24b47e;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
}
.timeline__event--type3 .timeline__event__icon {
  background: #24b47e;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event:last-child:after {
  content: none;
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    width: 70vw;
  }

  .timeline__event__icon {
    border-radius: 4px;
  }

  .timeline__event__content {
    margin-top: 2%;
  }

}




.gallery{
  display: flex;
  flex-direction: column;
}


img{
  height: 9em;
  aspect-ratio: 16/9;
  margin: 2%;
  border-radius: 5px;
}



.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  display: none;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  display: block;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  padding: 0 .5em;
  color: #9d2e2e;
  background: #ddd;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;

  width: 100px;
  position: sticky;
  top: 5%;
  right: -100%;
}



.container{
  display: block;
  /* width: 500px; */
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
}

/*Area of images*/
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.wrapper > img{
  width: 100%;
}


/*Animation activated by keyframes*/
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

